<div class="shopify-policy__container rte">
  <h1 class="shopify-policy__title">{{ policy.title }}</h1>
  <div class="rte prose">{{ policy.body }}</div>
</div>

{% schema %}
{
  "name": "Policy",
  "tag": "section",
  "class": "section-main-policy",
  "settings": []
}
{% endschema %}
